body{
    background-image: radial-gradient(circle, #99a807, #ca8800, #ee5c29, #fb1d63, #e200a4, #d400b5, #c008c7, #a420da, #ce00bc, #e9009d, #f7007f, #fd0d64);
    color: rgb(5, 5, 105);
    font-weight: bold;
    font-size: large;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}



































